section.cars#cars 
   .container 
      h2.title.cars__title(data-aos="fade-up" data-aos-duration="800") Our cars
      .cars__cars 
         .cars__item 
            .cars__photo
               img(src="img/cars/car_1.png", alt="car")
            .cars__info 
               span.cars__name
                  |Renault Clio
                  span.cars__price.cars__price-name 39
                     img(src="img/cars/euro.svg", alt="euro")
                     | /per day
               span.cars__info-line
                  img(src="img/cars/icon_1.svg", alt="line")
                  | Engine displacement: 2.0
               span.cars__info-line
                  img(src="img/cars/icon_2.svg", alt="line")
                  | Manual transmission: A
               span.cars__info-line
                  img(src="img/cars/icon_3.svg", alt="line")
                  | Passengers: 5
               span.cars__info-line
                  img(src="img/cars/icon_4.svg", alt="line")
                  | Large bags: 4
               span.cars__info-line
                  img(src="img/cars/icon_5.svg", alt="line")
                  | Doors: 4
            .cars__wrapper
               span.cars__price 39
                  img(src="img/cars/euro.svg", alt="euro")
                  | /per day
               button.cars__book.btn-fill Book now
               button(href="#car1").popup-link.cars__details.btn-red View details
         .cars__item 
            .cars__photo
               img(src="img/cars/car_2.png", alt="car")
            .cars__info 
               span.cars__name
                  |Renault Clio
                  span.cars__price.cars__price-name 39
                     img(src="img/cars/euro.svg", alt="euro")
                     | /per day
               span.cars__info-line
                  img(src="img/cars/icon_1.svg", alt="line")
                  | Engine displacement: 2.0
               span.cars__info-line
                  img(src="img/cars/icon_2.svg", alt="line")
                  | Manual transmission: A
               span.cars__info-line
                  img(src="img/cars/icon_3.svg", alt="line")
                  | Passengers: 5
               span.cars__info-line
                  img(src="img/cars/icon_4.svg", alt="line")
                  | Large bags: 4
               span.cars__info-line
                  img(src="img/cars/icon_5.svg", alt="line")
                  | Doors: 4
            .cars__wrapper
               span.cars__price 39
                  img(src="img/cars/euro.svg", alt="euro")
                  | /per day
               button.cars__book.btn-fill Book now
               button(href="#car2").popup-link.cars__details.btn-red View details