section.reqierments#reqierments
   .container 
      h3.title.reqierments__title(data-aos="fade-up" data-aos-duration="800") Reqierments
      .reqierments__grid
         .reqierments__item
            p.reqierments__text You must be 21+ years old
         .reqierments__item
            p.reqierments__text Personal driver licence
         .reqierments__item
            p.reqierments__text Valid credit card and 300 euro deposit
         .reqierments__item
            p.reqierments__text Official document (driver licence or passport) for another driver