.advantages 
   .advantages__card(data-aos="fade-up" data-aos-duration="800") 
      img(src="img/advantages/item_1.svg", alt="photo").advantages__img
      img(src="img/advantages/item_1-invert.svg", alt="photo").advantages__img.advantages__img-invert
      span.advantages__title Delivery to other town is possible
      p.advantages__desc Rent no matter where you are
   .advantages__card(data-aos="fade-up" data-aos-duration="800" data-aos-delay="400")
      img(src="img/advantages/item_2.svg", alt="photo").advantages__img
      img(src="img/advantages/item_2-invert.svg", alt="photo").advantages__img.advantages__img-invert
      span.advantages__title New cars
      p.advantages__desc Cars only 2022 years
   .advantages__card(data-aos="fade-up" data-aos-duration="800" data-aos-delay="800") 
      img(src="img/advantages/item_3.svg", alt="photo").advantages__img
      img(src="img/advantages/item_3-invert.svg", alt="photo").advantages__img.advantages__img-invert
      span.advantages__title Best price
      p.advantages__desc High quality, best price