.popup
   .popup__back
   .popup__modal#reg
      .popup__body
         .popup__close.close-popup 
         h2.title.popup__title Regestration
         .popup__form-reg 
            .popup__fields
               .popup__field
                  input(type="text" placeholder="E-mail").popup__input
               .popup__field
                  .popup__eye 
                     img(src="img/popup/eye-close.svg", alt="eye")
                     img(src="img/popup/eye-open.svg", alt="eye")
                  input(type="password" placeholder="Password").popup__input
               .popup__field
                  .popup__eye 
                     img(src="img/popup/eye-close.svg", alt="eye")
                     img(src="img/popup/eye-open.svg", alt="eye")
                  input(type="password" placeholder="Repeat password").popup__input
            label.popup__label
               input(type="checkbox").popup__check
               .popup__checkbox
               span.popup__label-text I have read and agreed with
                  a(href="#").popup__terms  terms <span>&</span> conditions
            button.popup__log-btn.btn.btn-fill Log In
            .popup__wrap-link
               a(href="#sign").popup-link.popup__link Already have account
   .popup__modal#sign
      .popup__body 
         .popup__close.close-popup
         h2.title.popup__title Sign in
         .popup__form-reg 
            .popup__fields
               .popup__field
                  input(type="email" placeholder="E-mail").popup__input
               .popup__field
                  .popup__eye 
                     img(src="img/popup/eye-close.svg", alt="eye")
                     img(src="img/popup/eye-open.svg", alt="eye")
                  input(type="password" placeholder="Password").popup__input
            a(href="#reg").popup__link.popup__link-sign Forgot password
            a(href="account.html").popup__log-btn.btn.btn-fill Sign in
            .popup__wrap-link
               a(href="#reg").popup-link.popup__link Don’t have account
   .popup__modal.popup__modal-cars#car1
      .popup__body.popup__body-cars
         .popup__close.close-popup
         .popup__car-name Renault Clio 2022
         .popup__car-photo
            img(src="img/cars/car_1.png", alt="cars")
         .popup__car-info
            .popup__car-line
               img(src="img/cars/icon_1.svg", alt="icon")
               | V: 2.0
            .popup__car-line
               img(src="img/cars/icon_3.svg", alt="icon")
               | Passengers: 5
            .popup__car-line
               img(src="img/cars/icon_2.svg", alt="icon")
               | Transmission: Auto
            .popup__car-line
               img(src="img/cars/icon_4.svg", alt="icon")
               | Large bags: 4
            .popup__car-line
            .popup__car-line
               img(src="img/cars/icon_5.svg", alt="icon")
               | Doors: 4
         .popup__car-subinfo 
            .popup__car-subinfo-item
               span.popup__cain-subinfo-text Satellite Navigation
               span.popup__cain-subinfo-text 17" Alloy Wheels
               span.popup__cain-subinfo-text Satellite Bluetooth 
               span.popup__cain-subinfo-text Satellite Airbags
            .popup__car-subinfo-item
               span.popup__cain-subinfo-text Cruise Control
               span.popup__cain-subinfo-text Speed Limiter
               span.popup__cain-subinfo-text Automatic Headlamps
               span.popup__cain-subinfo-text Centre console
         a(href="#").popup__more Read more
         .popup__row
            .popup__item.popup__item-charac
               .popup__car-line
                  img(src="img/cars/icon_1.svg", alt="icon")
                  | Engine displacement: 2.0
               .popup__car-line
                  img(src="img/cars/icon_2.svg", alt="icon")
                  | Manual transmission: A
               .popup__car-line
                  img(src="img/cars/icon_3.svg", alt="icon")
                  | Passengers: 5
               .popup__car-line
                  img(src="img/cars/icon_4.svg", alt="icon")
                  | Large bags: 4
               .popup__car-line
                  img(src="img/cars/icon_5.svg", alt="icon")
                  | Doors: 4
            .popup__item
               span.popup__desc Satellite Navigation
               span.popup__desc 17" Alloy Wheels
               span.popup__desc Bluetooth 
               span.popup__desc Airbags
               span.popup__desc Cruise Control
               span.popup__desc Speed Limiter
               span.popup__desc Automatic Headlamps
               span.popup__desc Centre console
            .popup__item
               span.popup__desc Push Button Start
               span.popup__desc DAB Digital Radio
               span.popup__desc USB Functionality 
               span.popup__desc Daytime Running Lights
               span.popup__desc Multi function steering wheel
               span.popup__desc Multi Function Display
            .popup__item
               span.popup__desc Electric Windows Front and Rear
               span.popup__desc Remote Central Locking
               span.popup__desc Electric Door Mirrors
               span.popup__desc Quick-Clear Heated Windscreen
               span.popup__desc 6 Speed Manual Transmission
            .popup__item
               span.popup__desc Trip Computer
               span.popup__desc Traction Control
               span.popup__desc Lane Keeping Aid and Alert
               span.popup__desc Electric Parking Brake (EPB)
               span.popup__desc Front Cup Holders
               span.popup__desc Centre Armrest
            .popup__item
               span.popup__desc Isofix
               span.popup__desc Hazard Warning Lights
               span.popup__desc Interior Lights
               span.popup__desc Rev Counter
               span.popup__desc 2 Keys
               span.popup__desc Stop/Start Function
               span.popup__desc Trip Computer
               span.popup__desc Front Fog Lights
         button.popup__car-btn.btn.btn-fill Book now
         span.close-popup.popup__return Return
   .popup__modal.popup__modal-cars#car2
      .popup__body.popup__body-cars
         .popup__close.close-popup
         .popup__car-name Renault Clio 2022
         .popup__car-photo
            img(src="img/cars/car_2.png", alt="cars")
         .popup__car-info
            .popup__car-line
               img(src="img/cars/icon_1.svg", alt="icon")
               | V: 2.0
            .popup__car-line
               img(src="img/cars/icon_3.svg", alt="icon")
               | Passengers: 5
            .popup__car-line
               img(src="img/cars/icon_2.svg", alt="icon")
               | Transmission: Auto
            .popup__car-line
               img(src="img/cars/icon_4.svg", alt="icon")
               | Large bags: 4
            .popup__car-line
            .popup__car-line
               img(src="img/cars/icon_5.svg", alt="icon")
               | Doors: 4
         .popup__car-subinfo 
            .popup__car-subinfo-item
               span.popup__cain-subinfo-text Satellite Navigation
               span.popup__cain-subinfo-text 17" Alloy Wheels
               span.popup__cain-subinfo-text Satellite Bluetooth 
               span.popup__cain-subinfo-text Satellite Airbags
            .popup__car-subinfo-item
               span.popup__cain-subinfo-text Cruise Control
               span.popup__cain-subinfo-text Speed Limiter
               span.popup__cain-subinfo-text Automatic Headlamps
               span.popup__cain-subinfo-text Centre console
         a(href="#").popup__more Read more
         .popup__row
            .popup__item.popup__item-charac
               .popup__car-line
                  img(src="img/cars/icon_1.svg", alt="icon")
                  | Engine displacement: 2.0
               .popup__car-line
                  img(src="img/cars/icon_2.svg", alt="icon")
                  | Manual transmission: A
               .popup__car-line
                  img(src="img/cars/icon_3.svg", alt="icon")
                  | Passengers: 5
               .popup__car-line
                  img(src="img/cars/icon_4.svg", alt="icon")
                  | Large bags: 4
               .popup__car-line
                  img(src="img/cars/icon_5.svg", alt="icon")
                  | Doors: 4
            .popup__item
               span.popup__desc Satellite Navigation
               span.popup__desc 17" Alloy Wheels
               span.popup__desc Bluetooth 
               span.popup__desc Airbags
               span.popup__desc Cruise Control
               span.popup__desc Speed Limiter
               span.popup__desc Automatic Headlamps
               span.popup__desc Centre console
            .popup__item
               span.popup__desc Push Button Start
               span.popup__desc DAB Digital Radio
               span.popup__desc USB Functionality 
               span.popup__desc Daytime Running Lights
               span.popup__desc Multi function steering wheel
               span.popup__desc Multi Function Display
            .popup__item
               span.popup__desc Electric Windows Front and Rear
               span.popup__desc Remote Central Locking
               span.popup__desc Electric Door Mirrors
               span.popup__desc Quick-Clear Heated Windscreen
               span.popup__desc 6 Speed Manual Transmission
            .popup__item
               span.popup__desc Trip Computer
               span.popup__desc Traction Control
               span.popup__desc Lane Keeping Aid and Alert
               span.popup__desc Electric Parking Brake (EPB)
               span.popup__desc Front Cup Holders
               span.popup__desc Centre Armrest
            .popup__item
               span.popup__desc Isofix
               span.popup__desc Hazard Warning Lights
               span.popup__desc Interior Lights
               span.popup__desc Rev Counter
               span.popup__desc 2 Keys
               span.popup__desc Stop/Start Function
               span.popup__desc Trip Computer
               span.popup__desc Front Fog Lights
         button.popup__car-btn.btn.btn-fill Book now
         span.close-popup.popup__return Return