section.feedback#feedback 
   .container.feedback__container
      h5.title.feedback__title(data-aos="fade-up" data-aos-duration="800") Feedback
      .feedback__feedbacks
         .feedback__item 
            .feedback__photo
               img(src="img/feedback/photo_1.png").feedback__man
               .feedback__info
                  .feedback__stars.feedback__stars-photo
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                       img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                  span.feedback__author.feedback__author-photo Anrew Nortwood
            .feedback__content
               .feedback__stars
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
               p.feedback__text.
                  Example text
                  The early 1970s saw the first whole-system carshare projects. The ProcoTip system in France lasted only about two years. A much more ambitious project called the Witkar was launched in Amsterdam by the founders of the 1965 white bicycles project         
               span.feedback__author Anrew Nortwood
         .feedback__item 
            .feedback__photo
               img(src="img/feedback/photo_1.png").feedback__man
               .feedback__info
                  .feedback__stars.feedback__stars-photo
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                       img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                  span.feedback__author.feedback__author-photo Anrew Nortwood
            .feedback__content
               .feedback__stars
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
               p.feedback__text.
                  Example text
                  The early 1970s saw the first whole-system carshare projects. The ProcoTip system in France lasted only about two years. A much more ambitious project called the Witkar was launched in Amsterdam by the founders of the 1965 white bicycles project         
               span.feedback__author Anrew Nortwood
         .feedback__item 
            .feedback__photo
               img(src="img/feedback/photo_1.png").feedback__man
               .feedback__info
                  .feedback__stars.feedback__stars-photo
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                       img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                  span.feedback__author.feedback__author-photo Anrew Nortwood
            .feedback__content
               .feedback__stars
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
               p.feedback__text.
                  Example text
                  The early 1970s saw the first whole-system carshare projects. The ProcoTip system in France lasted only about two years. A much more ambitious project called the Witkar was launched in Amsterdam by the founders of the 1965 white bicycles project         
               span.feedback__author Anrew Nortwood
         .feedback__item 
            .feedback__photo
               img(src="img/feedback/photo_1.png").feedback__man
               .feedback__info
                  .feedback__stars.feedback__stars-photo
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                       img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                  span.feedback__author.feedback__author-photo Anrew Nortwood
            .feedback__content
               .feedback__stars
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
               p.feedback__text.
                  Example text
                  The early 1970s saw the first whole-system carshare projects. The ProcoTip system in France lasted only about two years. A much more ambitious project called the Witkar was launched in Amsterdam by the founders of the 1965 white bicycles project         
               span.feedback__author Anrew Nortwood
         .feedback__item 
            .feedback__photo
               img(src="img/feedback/photo_1.png").feedback__man
               .feedback__info
                  .feedback__stars.feedback__stars-photo
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                       img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                     .feedback__star
                        img(src="img/feedback/star.svg", alt="star")
                  span.feedback__author.feedback__author-photo Anrew Nortwood
            .feedback__content
               .feedback__stars
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
                  .feedback__star
                     img(src="img/feedback/star.svg", alt="star")
               p.feedback__text.
                  Example text
                  The early 1970s saw the first whole-system carshare projects. The ProcoTip system in France lasted only about two years. A much more ambitious project called the Witkar was launched in Amsterdam by the founders of the 1965 white bicycles project         
               span.feedback__author Anrew Nortwood
      button.btn.feedback__btn.btn-red Leave a feedback