footer.footer
   .footer__wrap 
      .container 
         .footer__form
            input(type="text",placeholder="Phone").footer__field
            button.btn.footer__btn.btn-fill Call me back
   .footer__content
      .container
         .footer__inner 
            .footer__grid 
               .footer__item
                  a(href="index.html")
                     img(src="img/logo-invert.svg", alt="logo").footer__logo
               .footer__item.footer__list
                  a.footer__link(href="#cars").scroll-link Cars
                  a.footer__link(href="#feedback").scroll-link Feedback
                  a.footer__link(href="#faq").scroll-link F.A.Q
                  a.footer__link(href="#reqierments").scroll-link How to rent
               .footer__item 
                  a.footer__contact(href="#")
                     img.footer__icon(src="img/footer/telephone.svg", alt="telephne")
                     |+1 236 254 02
                  a.footer__contact(href="#") 
                     img.footer__icon(src="img/footer/dog.svg", alt="telephne")
                     | info@carrent.de
                  .footer__socials 
                     a.footer__social(href="#")
                       img(src="img/footer/instagram.svg", alt="instagram")
                     a.footer__social(href="#")
                       img(src="img/footer/telegram.svg", alt="instagram")
                     .footer__terms 
                        a.footer__link-other(href="#") Terms of Use
                        a.footer__link-other(href="#") Privacy Policy
            .footer__photo
               img(src="img/footer/map.png", alt="map")
            .footer__row 
               p.footer__rights.
                  © 2022 Enterprise Holdings, Inc. All rights reserved.
               .footer__terms 
                  a.footer__link-other(href="#") Terms of Use
                  a.footer__link-other(href="#") Privacy Policy
   .footer__photo.footer__photo-small
      img(src="img/footer/map_2.png", alt="map")
   p.footer__rights.footer__end
      | © 2022 Enterprise Holdings, Inc. All rights reserved.
   